{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Diwilo",
    "version": "1.0.0",
    "description": "Contacto, chat de IA e integraciones de diwilo.com.",
    "contact": {
      "name": "Diwilo",
      "email": "hola@diwilo.com",
      "url": "https://diwilo.com"
    }
  },
  "servers": [
    {
      "url": "https://diwilo.com"
    }
  ],
  "externalDocs": {
    "url": "https://diwilo.com/docs/api"
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Clave dwl_… creada en el panel de Diwilo"
      }
    }
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Estado del servicio",
        "responses": {
          "200": {
            "description": "Servicio disponible"
          }
        }
      }
    },
    "/api/lead": {
      "post": {
        "summary": "Solicitar contacto o diagnóstico",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nombre y empresa"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "topics": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Solicitud recibida"
          },
          "400": {
            "description": "Datos inválidos"
          }
        }
      }
    },
    "/api/chat": {
      "post": {
        "summary": "Preguntar al asistente de IA",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sid",
                  "message"
                ],
                "properties": {
                  "sid": {
                    "type": "string",
                    "description": "Id de conversación"
                  },
                  "message": {
                    "type": "string",
                    "maxLength": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reply": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "Servidor MCP (JSON-RPC 2.0, Streamable HTTP)",
        "responses": {
          "200": {
            "description": "Respuesta JSON-RPC"
          }
        }
      }
    },
    "/v1/leads": {
      "get": {
        "summary": "Leads recibidos",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Marca de tiempo en ms"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista en JSON"
          },
          "401": {
            "description": "Clave inválida"
          }
        }
      }
    },
    "/v1/events": {
      "get": {
        "summary": "Eventos de analítica",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Marca de tiempo en ms"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista en JSON"
          },
          "401": {
            "description": "Clave inválida"
          }
        }
      }
    },
    "/v1/chats": {
      "get": {
        "summary": "Conversaciones del chat",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Marca de tiempo en ms"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista en JSON"
          },
          "401": {
            "description": "Clave inválida"
          }
        }
      }
    },
    "/v1/stats": {
      "get": {
        "summary": "Estadísticas",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estadísticas en JSON"
          }
        }
      }
    },
    "/v1/links": {
      "post": {
        "summary": "Crear link de rastreo",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target"
                ],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "target": {
                    "type": "string"
                  },
                  "utm_source": {
                    "type": "string"
                  },
                  "utm_medium": {
                    "type": "string"
                  },
                  "utm_campaign": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Link creado"
          }
        }
      }
    }
  }
}
